<section id="about" class="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>MAFF Tongan Vet Clinic </h2>
        <p class="lead">Tongan Veterinary Clinic is run by the <a href="http://mafff.we.bs/">
          Ministry of Agriculture, Food, Forest and Fisheries (MAFFF)</a></p>
        <p> The MAFFF Veterinary Clinic provides a number of services for animal treatment, 
          from home pets to livestock.
          We also run research programmes.
        </p>
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
