<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 text-center">
        <h4><strong>{{ site.owner }}</strong>
        </h4>
        <p>
          {% for address in site.address %}
          {{ address.line }}<br>
          {% endfor %}
        </p>
        <ul class="list-unstyled">
          <li><i class="fa fa-phone fa-fw"></i> {{ site.telephone }}</li>
          <li><i class="fa fa-envelope-o fa-fw"></i>  <a href="mailto:{{ site.email }}">{{ site.email }}</a>
          </li>
        </ul>
        <br>
        <ul class="list-inline">
          <li>
            <a href="https://facebook.com/{{ site.facebook_username }}"><i class="fa fa-facebook fa-fw fa-3x"></i></a>
          </li>
   
        </ul>
        <hr class="small">
        <p class="text-muted">Copyright &copy; {{ site.copyright }} 20{{ site.time | date: '%y' }}</p>
        <div>Icons made by <a href="https://www.flaticon.com/authors/those-icons" title="Those Icons">Those Icons</a> 
          from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by 
          <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
      </div>
    </div>
  </div>
</footer>
